.container {
  display: flex;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  margin: 20px;
}

.grid div {
  width: 40px;
  height: 40px;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgreen;
  margin: 20px;
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: lightcoral;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: darkblue;
  display: flex;
}

.destroyer-container-vertical {
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  background-color: aqua;
  display: flex;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  background-color: purple;
  display: flex;
}

.battleship-container {
  width: 160px;
  height: 40px;
  margin: 10px;
  background-color: green;
  display: flex;
}

.carrier-container {
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: yellow;
  display: flex;
}

.destroyer {
  background-color: darkblue;
}
.submarine {
  background-color: aqua;
}
.cruiser {
  background-color: purple;
}
.battleship {
  background-color: green;
}
.carrier {
  background-color: yellow;
}
